@import '../../../styles/variables.scss';
nav{
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    height: $navbarHeight;

    & > * {
        cursor: pointer;
    }
    & > :first-child{
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }
    & > :last-child{
        flex: 1;
    }
}