@import "bootstrap/scss/bootstrap.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}
#root {
  margin: auto;
  max-width: 1000px;
}

a {
  text-decoration: none;
  color: unset;
  &:hover {
    color: unset;
  }
}

.content {
  margin: 0 3rem;
  margin-bottom: 5rem;
  @include media-breakpoint-down(md) {
    margin: 0 1.5rem;
    margin-bottom: 5rem;
  }
}

.no-default-shadow {
  &:focus {
    border-color: rgb(0, 0, 0) !important;
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25) !important;
  }
}
